#root {
    -fx-padding: 0;
}

#top-bar, #menu-bar {
    -fx-background-color: #2196F3;
    -fx-padding: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 5);
}

#bottom-bar {
    -fx-background-color: #FFFFFF;
    -fx-padding: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, -5);
}

#menu-btn, #menu-back-btn, #loc-btn {
    -fx-background-color: #2196F3;
    -fx-background-insets: 2px;
    -fx-background-radius: 3px;
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF;
}

/*
#menu-btn:hover, #menu-back-btn:hover, #loc-btn:hover {
    -fx-background-color: #FFFFFF;
}

#menu-btn:pressed, #menu-back-btn:pressed, #loc-button:pressed {
    -fx-background-color: #AAAAAA;
}
*/

#menu-main {
    -fx-background-color: #FFFFFF;
}

.check-box .box {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 1;
}
.check-box {
    -fx-font-size: 20px;
    -fx-padding: 5px 10px 5px 10px;
}

#search-box {
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 2px;
    -fx-text-fill: #212121;
    -fx-font-size: 16px;
}

.widget_container {
    -fx-max-width: 375px;
    -fx-max-height: 300px;
    -fx-hgap: 20px;
    -fx-padding: 15px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;

    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;

    -fx-border-radius: 5px;
    -fx-border-width: 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 0);
}

.widget {
}

.chart {
    -fx-chart-backround-fill: #FFFFFF;
    -fx-chart-background-stroke: #FFFFFF;
    -fx-chart-background-stroke-width: 1px;
}

.chart .chart-title {
    -fx-font-size: 14px;
}
.chart .chart-legend {
    -fx-font-size: 10px;
}
.chart .chart-legend-item {
    -fx-font-size: 8px;
}

.chart .chart-content {
}

.chart .chart-plot-background {
    -fx-background-color: #FFFFFF;
}

.chart .chart-vertical-grid-lines {
    -fx-stroke: #BDBDBD;
}
.chart .chart-horizontal-grid-lines {
    -fx-stroke: #BDBDBD;
}

.chart .chart-alternative-row-fill {
    -fx-fill: #FFFFFF;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.chart .axis-tick-mark {
    -fx-stroke: #BDBDBD;
    -fx-stroke-width: 2;
}
.chart .axis-minor-tick-mark {
    -fx-stroke: #BDBDBD;
}

.chart .chart-series-line {
    -fx-stroke-width: 4px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: #2196F3; }

.default-color0.chart-area-symbol { -fx-background-color: #2196F3, #FFFFFF; }

.default-color0.chart-series-area-line { -fx-stroke: #2196F3; }

.default-color0.chart-series-area-fill { -fx-fill: #BBDEFBaa; }


#day-select {
    -fx-background-color: #FFFFFF;
}

.slider .thumb {
    -fx-background-color: #2196F3;
}

.slider .track {
    -fx-background-color: #BDBDBD;
}

